@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&family=Roboto:wght@100;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    font-size: 16px;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(18, 28%, 16%);
}

.main {
    padding: 10px;
    margin: 10px 10px;
    text-align: center;
    background-color: hsl(251, 7%, 97%);
    border-radius: 4px;
    min-height: 100vh;
    position: relative;
    border: none;
}

.main h1 {
    padding: 24px 0 4px 0;
    font-size: 3rem;
    font-weight: 800;
}

.main__subtitle {
    padding: 8px 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.main__image {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.main__image img {
    width: auto;
    margin: 10px 10px;
    border-radius: 8px;
}

.main__image p {
    font-size: 1.2rem;
    padding: 0 20px;
    margin-bottom: 24px;
}

.main__list {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main__list-title {
    margin: 52px 0;
    font-size: 1.8rem;
}

.main__list-dates {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: start;
    margin-bottom: 40px;
}

.main__list-dates li {
    margin-bottom: 32px;
    line-height: 22px;
}

.main__list-cita {
    margin-bottom: 40px;
    padding: 0 40px;
    font-weight: 500;
}

.text__footer {
    padding: 20px 0;
}
